# Firmware build
firmware/build/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.pytest_cache/
.ruff_cache/
dist/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# KiCad
*.kicad_prl
*-backups/
fp-info-cache
*.kicad_pcb-bak
*.kicad_sch-bak
hardware/gerber/

# RStudio (created if a file gets opened with it by default)
.Rhistory
.RData
.Rproj.user/
